# Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Django
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_DB_WAIT_TIMEOUT=
DJANGO_SECRET_KEY=

# Redis / Celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_WORKER_LOG_LEVEL=
CELERY_BEAT_LOG_LEVEL=

# Frontend / Nginx build arg
FRONTEND_API_BASE_URL=