# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Environments
.env
.venv/
.python-version

# Django
db.sqlite3
/media/
staticfiles/

# Node / Frontend
node_modules/
dist/
build/
*.lock
*.zip
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

devops/volumes/
backend/node_modules/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS / Editor
.DS_Store
.vscode/
.idea/
