# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Environments
.env
.venv/
.python-version

# Django
db.sqlite3
/media/
static/
!frontend/static/

# Node / Frontend
node_modules/
dist/
build/
*.lock
*.zip

# OS / Editor
.DS_Store
.vscode/
.idea/
