{% extends "narrow.html" %}
{% block title %}Abgemeldet – CO₂mmute{% endblock %}
{% block screen %}
{% include "partials/screen_heading.html" with title="Du bist abgemeldet" lead="Auf diesem Rechner ist jetzt niemand mehr angemeldet. Deine Spiele laufen weiter; um sie zu steuern, meldest du dich wieder an." %}
<div class="flex flex-wrap gap-3">
  <a href="{% url 'login' %}" class="btn btn-primary">Wieder anmelden</a>
  <a href="{% url 'index' %}" class="btn btn-outline">Zur Startseite</a>
</div>
{% endblock %}
