{% extends "base.html" %} {% load static %} {% block title %} Sign Up
<!-- even more comments -->
{% endblock %}
<!-- some comment  -->
{% block main %}
<section class="mx-auto w-full max-w-3xl px-6 py-20">
  <div class="flex min-h-full">
    <div
      class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
    >
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <h2
            class="mt-8 text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Werde Teil von CO₂mmute
          </h2>
          <div class="flex items-center justify-between">
            <div class="text-sm/6">
              <a
                href="{% url 'login' %}"
                class="font-semibold text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 dark:hover:text-indigo-300"
                >Schon dabei?</a
              >
            </div>
          </div>
        </div>

        <div class="mt-10">
          <div>
            <form method="post" class="space-y-6">
              {% csrf_token %}
              <div>
                <label
                  for="username"
                  class="block text-sm/6 font-medium text-gray-900 dark:text-gray-100"
                  >Username</label
                >
                <div class="mt-2">
                  <input
                    id="username"
                    type="username"
                    name="username"
                    required
                    autocomplete="username"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-indigo-500"
                  />
                </div>
              </div>
              <div>
                <label
                  for="email"
                  class="block text-sm/6 font-medium text-gray-900 dark:text-gray-100"
                  >Email address</label
                >
                <div class="mt-2">
                  <input
                    id="email"
                    type="email"
                    name="email"
                    required
                    autocomplete="email"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-indigo-500"
                  />
                </div>
              </div>

              <div>
                <label
                  for="password"
                  class="block text-sm/6 font-medium text-gray-900 dark:text-gray-100"
                  >Password</label
                >
                <div class="mt-2">
                  <input
                    id="password"
                    type="password"
                    name="password"
                    required
                    autocomplete="current-password"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-indigo-500"
                  />
                </div>
              </div>

              <div>
                <button
                  type="submit"
                  class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:shadow-none dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-500"
                >
                  Los geht's
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block">
      <img
        src="{% static 'img/index_1.png' %}"
        alt=""
        class="absolute inset-0 size-full object-cover"
      />
    </div>
  </div>
</section>
{% endblock %}
